{% extends "base.html" %}

{% block body_content %}
<h1>Update Observers Entry</h1>

<br>

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <fieldset>
        <legend>Edit Observer:</legend>
        <div class="row">
            <div class="col-lg-3">
                {{ form.surname.label() }}
                {{ form.surname(class="form-control") }}
            </div>
            <div class="col-lg-3">
                {{ form.given_name.label() }}
                {{ form.given_name(class="form-control") }}
            </div>
            <div class="col-lg-3">
                {{ form.title.label() }}
                {{ form.title(class="form-control") }}
            </div>
            <div class="col-lg-3">
                {{ form.email.label() }}
                {{ form.email(class="form-control") }}
            </div>
            <div class="col-lg-3">
                {{ form.phone_number.label() }}
                {{ form.phone_number(class="form-control") }}
            </div>
        </div>
        {{ form.submit(class="btn btn-primary btn-lg") }}
    </fieldset>
</form>

<br>

<h3>Notes</h3>
<ul>
    <li>An asterisk denotes that the field is mandatory.</li>
</ul>
{% endblock %}

